/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  color: #D59852;
  background-color: #38281B;
}

h1,
h5 { 
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 1em;
}

p {
  color: #D59852;
  margin: 1em;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #D59852;
}

img {
  max-width: 100%;
}

span {
  color: #D59852;
  line-height: 2.0;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  margin-top: 5px;
}

.main-nav li {
  text-align: center;
}

.main-nav a {
  display: block;
  font-size: .95em;
  color: #38281B;
  background-color: #D59852;
  margin-top: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
}

a:hover {
  cursor: pointer;
  color: #503C23;
}

.footer-link {
  font-size: .9em;
  margin-top: .9em;
  float: right;
}

.footer-nav {
  display: none;
}

/* ---- Layout Containers ---- */


.main-header {
  padding-top: 1em;
  padding-bottom: 1em;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #38281B;
}

.profile-description {
  vertical-align: middle;
  border-bottom: 6px inset #D59852;
}

.profile-img {
  width: 40%;
  height: 40%;
  margin-right: 1em;
}

.col {
  background-color: #121011;
  padding: 1em;
}

.col:hover {
  border: 2px solid #D59852;
}


/* ---- Page Elements ---- */

.profile-name {
    margin: 0 auto;
  }

.headline {
  float: left;
  width: 100%;
  background-color: #38281B;
}

.contact-info {
  font-weight: 700;
}

.footer-name {
  font-size: .9em;
  float: left;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  .wrapper {
    min-height: calc(100vh - 257px);
  }
  
  .container {
    width: 90%;
    max-width: 1023px;
    margin: 0 auto;
  }
  
  .main-nav a {
    color: #D59852;
    background-color: #38281B;
  }
  
  .main-nav li {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
  }
  
  .profile-name,
  .main-nav a {
    display: inline-block;
  }
  
  .headline {
    float: left;
    width: 100%;
  }
  
  .col {
    width: 50%;
    float: left;
    padding: 1em;
  }
  
  .profile-img {
    float: right;
    width: 20%;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .profile-description p {
    display: inline-block;
    width: 60%;
    margin-top: 5em;
  }
  
.contact {
  font-size: 1.2em;
  margin-right: 5em;
  margin-left: 5em;
}
  
  .footer-link {
    display: none;
  }
  
  .footer-nav {
    display: inline-block;
    float: right;
    margin-right: 0;
  }
  
  .footer-nav li {
    float: left;
    font-size: .8em;
    margin-top: .8em;
    margin-left: .75em;
    text-transform: uppercase;
  }

  
}

@media (min-width: 1024px) {
  .wrapper {
    min-height: calc(100vh - 257px);
  }
  
  .container {
    width: 90%;
    max-width: 1150px;
  }
  
  .profile-img {
    float: right;
    width: 20%;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .profile-description p {
    display: inline-block;
    width: 60%;
    margin-top: 6em;
  }
  
  .profile-name,
  .col {
    float: left;
  }
  
  .main-nav {
    float: right;
  }
  
  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }
  
  .col {
    width: 33.3%;
  }
}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

