/* ================================= 
  Base Element Styles
==================================== */
body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  color: #494949;
  background-color: #fafafa;
}

h1,
h5 { 
  font-weight: 700;
}

h2 {
  font-size: 1em;
}

p {
  color: #8f8f8f;
  margin: 1em;
}

a {
  text-decoration: none;
  color: #494949;
}

hr {
  max-width: 90%;
}

img {
  max-width: 100%;
}

span {
  color: #8f8f8f;
  line-height: 2.0;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.profile-name {
  margin: 0;
}

.main-nav {
  margin-top: 5px;
}

.main-nav a {
  display: block;
  font-size: .95em;
  font-weight: 700;
  color: #494949;
  background-color: white;
  margin-top: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: ;
}



/* ---- Layout Containers ---- */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
}

.wrapper {
  background-color: white;
}
.col {
  text-align: center;
  padding: 1em;
}

.main-footer {
  text-align: center;
}

.footer-name {
  font-size: .9em;
  float: left;
}

.footer-link {
  font-size: .9em;
  margin-top: .9em;
  float: right;
}

/* ---- Page Elements ---- */

.main-header img {
  max-width: 70%;
  margin-top: 50px;
}
.contact {
  font-weight: 700;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  
  .profile-name,
  .col {
    float: left;
  }
  
  .main-nav {
    float: right;
  }
  
  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }
  
  .col {
    width: 50%;
  }

  
}

@media (min-width: 1025px) {
  .wrapper {
    width: 80%;
    max-width: 1150px;
  }
  
  .col {
    float: left;
    width: 33.3%
  }
}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

