

/* Colors */

$black-marlin: #38281B;
$di-serria: #D59852;
$saddle: #503C23;
$cod-gray: #121011;


/* Color Scheme */

$color-scheme: (
	main-background    : $black-marlin,
	text               : $di-serria,
	columns            : $cod-gray,
	link-hover         : lighten($di-serria, 20%)
);

// Margins
$base-margin   : 1em;


/* Fonts */

$font-size--regular      : 1em;
$font-weight--bold     : 700;

$font-url--google        : "https://fonts.googleapis.com/css?family=Noto+Sans:400,700";
$font-family--primary    : 'Noto Sans', sans-serif;

// Import if Google Fonts URL is defined

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}


// Columns and Containers

$base-container--width    :90%;
$container-md--maxwidth      :1023px;
$container-lg--maxwidth      :1150px;

$med-col--width     :50%;
$lg-col--width     	 :33%;

// Footer height

$footer-height  : 257px;


// Break points
$brkpoint-md   :768px;
$brkpoint-lg   :1100px;
