

/* Colors */

$black-marlin: #38281B;
$di-serria: #D59852;
$saddle: #503C23;


/* Fonts */

$font-url--google        : "https://fonts.googleapis.com/css?family=Noto+Sans:400,700";
$font-family--primary    : 'Noto Sans', sans-serif;

// Import if Google Fonts URL is defined

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}


// Break points
$brkpoint-md   :768px;
$brkpoint-lg   :1100px;
