/* ---- Layout Containers ---- */

.wrapper {
		@extend %clearfix;
		@include mq(medium) {
			@include stickyFooter($footer-height);
		}
}

.container {
	@extend %clearfix;
	@extend %centered;
  width: $base-container--width;
  margin: 0 auto;
  background-color: map-get($color-scheme, main-background);
	@include mq(medium) {
    max-width: $container-md--maxwidth;
	}
	@include mq(large) {
    max-width: $container-lg--maxwidth;
	}
}

.col {
  background-color: map-get($color-scheme, columns);
  padding: 1em;
	@include mq(medium) {
		@include positionCol(left, $med-col--width);
		min-height: 500px;	
	}
	@include mq(large) {
		@include positionCol(left, $lg-col--width);
	}
}
