/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family--primary;
  line-height: 1.6;
  color: map-get($color-scheme, text);
  background-color: map-get($color-scheme, main-background);
}

hr {
	background-color: map-get($color-scheme, text);
}

h1,
h5 { 
  font-weight: $font-weight--bold;
}

h2 {
  @extend %centered;
  font-size: $font-size--regular;
}

p {
  color: map-get($color-scheme, text);
  margin: 1em;
}

a {
  font-weight: $font-weight--bold;
  text-decoration: none;
  color: map-get($color-scheme, text);
}

img {
  margin-top: $base-margin;
  max-width: 100%;
}

span {
  color: map-get($color-scheme, text);
  line-height: 2.0;
}

