/* CSS Document */

.footer {
		&-name {
			font-size: .9em;
  		float: left;
		}
		
		&-link {
			@include mq(medium) {
			display: none;
			}
			float: right;
			font-size: .8em;
			margin-top: $base-margin;
			margin-left: $base-margin;
			text-transform: uppercase;
			&:hover {
	  		@extend %link-hover;
			}
		}
		
		&-nav li {
			@include mq(medium) {
				display: inline-block;
				float: right;
				font-size: $font-size--regular;
				text-transform: uppercase;
				margin-right: $base-margin;	
				margin-top: $base-margin;
			}
			display: none;
			& a:hover {
	  			@extend %link-hover;
				}
		}
	}




