//====================================
// Navigation
//====================================

.main-nav {
	margin-top: 5px;
	@include mq(large) {
		float: right;
	}
	& li {
		@include mq(medium) {
			display: inline-block;
    	margin-right: 10px;		
		}
		@extend %centered;
	}
	& a {
		display: block;
  	font-size: .95em;
  	color: map-get($color-scheme, main-background);
  	background-color: map-get($color-scheme, text);
  	margin-top: 5px;
  	padding: 10px 15px;
  	text-transform: uppercase;
		@include mq(medium) {
			display: inline-block;
	    color: map-get($color-scheme, text);
    	background-color: map-get($color-scheme, main-background);
		}
		&:hover {
	  	@extend %link-hover;
		}
	}
}

.icn--nav-toggle {
	@include p-el(before, 25px, 3px) {
		background: map-get($color-scheme, text);
		margin-top: 4px;	
	}
	width: 25px;
	height: 17px;
	margin: 0 auto;
	border-top: solid 3px map-get($color-scheme, text);
	border-bottom: solid 3px map-get($color-scheme, text);
	display: none;
}





